<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
  </head>
  <body>
    <h1>File Name</h1>
    <ul>
      <li><a href="">Folder</a></li>
      <li>Size</li>
      <li>Link</li>
      <li>Upload Date</li>
    </ul>
    <form action="" method="POST">
      <input type="hidden" name="thisFile" value="" />
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
