<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Failed</title>
  </head>
  <body>
    <p>
      Login failed: Make sure you're using the correct username and password
    </p>
    <a href="/login">Try Again</a>
    <br />
    <a href="/">Home</a>
  </body>
</html>
