<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <br />
    <form class="signup-form" method="POST">
      <div class="input-container">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username-input"
          value="<%=userInfo ? userInfo.username : '' %>"
        />
      </div>

      <div class="input-container">
        <label for="password">Password</label>
        <input type="password" name="password" id="password-input" />
      </div>

      <div class="input-container">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" id="confirm-password-input" />
      </div>

      <button class="btn" type="submit">Submit</button>
    </form>

    <br />
    <a href="/">Return</a>

    <% if (errors) { %>
    <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
    <% } %>
  </body>
</html>
