<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <script src="/scripts/fileUpload.js" defer></script>
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload File</h1>
    <form class="upload-file-form" method="POST" enctype="multipart/form-data">
      <!-- Button instead of drop space for mobile -->
      <button type="button" class="mobile-upload-btn">
          <svg class="upload-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
            <polyline points="17 8 12 3 7 8"/>
            <line x1="12" y1="3" x2="12" y2="15"/>
          </svg>
          Choose File
      </button>

      <div class="upload-area">
        <svg class="upload-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                  <polyline points="17 8 12 3 7 8"/>
                  <line x1="12" y1="3" x2="12" y2="15"/>
              </svg>
              <p class="upload-text">Drag & Drop your files here</p>
              <p class="upload-hint">or click to browse your computer</p>
        <input class="upload-file-input" type="file" name="uploaded_file" id="file_input" required/>
      </div>

      <div class="selected-file-area" id="fileArea">
            <!-- Files will be added here dynamically -->
        </div>

      <button class="upload-button" type="submit" disabled="disabled">Submit</button>
    </form>

    <a class="return-btn" href="/home/<%=folder.name %>/<%=folder.id %>">Return</a>
    <% if (uploadSuccessful) { %>
    <p><%=uploadSuccessful %></p>
    <% } %>
  </body>
</html>
