<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload File</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="file">File</label>
      <input type="file" name="uploaded_file" id="file_input" />

      <br />
      <button type="submit" style="margin-top: 20px">Submit</button>
    </form>

    <a href="/home">Home</a>
    <% if (uploadSuccessful) { %>
    <p><%=uploadSuccessful %></p>
    <% } %>
  </body>
</html>
